body{
	margin:0px;
	padding:0px;
	/*background-color:#f2f2f2;*/
	background-color: black;
} 

body, h1, h2, h3, h4, h5, h6, span, ul, li, ol, form, input{
	font-family:Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
	color:#555;
}

.container {
	margin:0px;
	padding:0px;
	width:280px;
	height:500px;
	background-color:#999;
	border-right:1px solid #ccc;
	position:relative;

}

.profile{
	width:100%;
	height:160px;
	background-color:#f2f2f2;
	margin-bottom: 5px; ////////////////////////////////////////////////////////////
}

	.profile > .prof-pic{
		margin:15px 15px 10px 15px;
		margin-right:10px;
		width:55px;
		height:75px;
		float:left;
		border:3px solid #fff;
		box-shadow:0px 0px 2px #ccc;
	}
	
	.profile > a > h4{
		margin:0px;
		padding-top:18px;
		font-family:Arial, Helvetica, sans-serif;
		color:#af6e2e;
	}
	
	.profile > span{
		font-family:Arial, Helvetica, sans-serif;
		font-size:10pt;
		color:#555;
		line-height:20px;
	}
	
	.profile > a{
		text-decoration:none;
	}
	
		.profile > a > span{
			font-family:Arial, Helvetica, sans-serif;
			font-size:10pt;
			color:#555;
		}
		
		.profile > a > img{
			padding-right:5px;
		}
	
	.myagent-wrapper{
		width:250px;
		background-color:#bbb;
		margin-left:15px;
		height: 20px;
		clear:both;
		border-radius:5px;
		border:1px solid #f5f5f5;
	}
	
	.myagent-wrapper > span{
		float:right;
		line-height: 22px;
		padding-right:5px;
		color:#f5f5f5;
		font-size:14px;
		outline:none;
	}
		.myagent{
			position: relative; /* added*/
			vertical-align: middle; /* added for browser compatability */
			color:#f5f5f5;
			letter-spacing:inherit;
			font-weight:bold;
			padding-left: 5px;
			font-size: 10px; /* changed from 10px */
			line-height: 1;
			height: 20px;
			width:90px;
			-webkit-appearance: none;
			background: url('images/arrow-down.png') no-repeat right transparent;
			border-radius: 4px 0px 0px 4px; /* changed from 5px 0px 0px 5px*/
			border:none;
			border-right:1px solid #f5f5f5;
			text-align: center; /* added*/
			padding: 2px;
			outline:none;
		}
		option {
			background: #ccc;
			color:black;
			outline:none;
			width:100%;
			font-size: 12px;
		}
	
	.next-state{
		padding:4px 0 0 15px;
	}
	
	.agent-leg{
		clear:both;
		float:right;
		padding:2px 15px 0 0;
	}

/******************************************************************************************************************/
/***************************************          PHONE          **************************************************/
/******************************************************************************************************************/

.phone{
	width:100%;
	height: 100%;
	clear:both;
}

	.phone-header{
		background-color:#456a97;
		width:100%;
		height:25px;
	}
	
		.phone-header > img{
			padding-left:15px;
			margin:0px;
			float:left;
		}
	
		.phone-header > h4{
			margin:0px;
			padding-left:10px;
			font-family:Arial;
			line-height: 25px;
			color:#fff;
			letter-spacing: 1px;
			text-shadow: 1px 1px 1px #888;
			display:inline;
			clear:both;
		}
		
		.phone-header > a > img{
			float:right;
			margin:5px 15px 0 0;
		}
		
	.phone-body{
		width:100%;
		height:170px;
		background-color:#f2f2f2;
	}
	
		.phone-body > form{
			float:left;
		}
		
			.phone-body > form > input{
				margin:5px 5px 10px 15px;
				width:172px;
				height:16px;
				color:#555;
				font-size:14px;
				padding-left:8px;
			}
		
		.phone-body > a > img{
			float:left;
			margin:5px;
		}

/******************************************************************************************************************/
/*****************************************          QUEUE          ************************************************/
/******************************************************************************************************************/

.queue{
	clear:both;
	/*height:195px;*/
	width:100%;
	background: #DDDDDD;
	
}	
	
	.queue-header{
		clear:both;
		/*width:280px;*/
		width:100%;
		height:25px;
		background-color:#456a97;
	}
	
		.queue-header > .queue-icon{
			padding-left:15px;
			margin:0px;
			float:left;
		}
	
		.queue-header > h4{
			margin:0px;
			padding-left:10px;
			font-family:Arial;
			line-height: 25px;
			color:#fff;
			letter-spacing: 1px;
			text-shadow: 1px 1px 1px #888;
			display:inline;
			clear:both;
		}
		
		.queue-header > a > img{
			float:right;
			margin:5px 15px 0 0;
		}
		
		.queue-header > span{
			padding:1px 5px 0px 5px;
			margin:5px 5px 0 0;
			float:right;
			background-color:#f5f5f5;
			color:#555;
			font-family: Arial, Helvetica, sans-serif;
			border-radius:15px;
			font-size:12px;
			font-weight:bold;
		}
		
	.queue-body{
		border-bottom:1px solid #ccc;
		background-color: #f2f2f2;
		height: 305px;
		overflow: auto;
		overflow-x:hidden;
	}
	
		.queue-body > ul{
			list-style: none;
			margin:0px;
			padding:0px;
			line-height:16pt;
			font-size: 10pt;
		}
		
		.queue-body > ul > li{
			padding:2px 0px 2px 16px;
			border-bottom:1px solid #ccc;
		}
		
			.queue-body > ul > li:hover{
				background-color:#ddd;
			}
			
				.queue-body > ul > li > span{
					float:right;
					padding-right:15px;
				}

/******************************************************************************************************************/
/*************************************          CONVERSATION          *********************************************/
/******************************************************************************************************************/

.conversation{
	position:relative;
	height:100%;
	overflow: hidden;
	margin-bottom: 5px; ////////////////////////////////////////////////////////////
}
	.conversation-header{
		height:25px;
		width:100%;
		background-color: #456a97;
	}
	
		.conversation-header > img{
			padding-left:15px;
			margin:0px;
			float:left;
		}
	
		.conversation-header > h4{
			margin:0px;
			padding-left:10px;
			font-family:Arial;
			line-height: 25px;
			color:#fff;
			letter-spacing: 1px;
			text-shadow: 1px 1px 1px #888;
			display:inline;
			clear:both;
		}
		
		.conversation-header > a > img{
			float:right;
			margin:5px 15px 0 0;
		}

	
	.conversation-body{
		width:250px;
		height:100px;
		background-color:#f2f2f2;
		padding: 5px 15px;
	}
		
		.conversation-body > img{
			float:left;
			padding-top:5px;
		}
		
		.conversation-body > span{
			float:left;
			font-size:10pt;
			padding-left:10px;
			padding-top:6px;
		}
		
		.conversation-body > hr{
			clear:both;
			margin-top:28px;
		}
	
		.conversation-body > .call-status{
			width:100%;
			height:20px;
			background-color:#ccc;
			border-radius: 5px;
			margin-top:10px;
		}
		
			.call-status > .call-status-title{
				font-size:12px;
				color:#fff;
				background-color:#aaa;
				padding:3px 5px 3px 5px;
				border-radius:5px 0 0 5px;
			}
			
			.call-status > span{
				font-size:14px;
				padding:2px 5px;
			}
			
		.conversation-body > .conversation-buttons{
			margin:10px 0px;
		}
		
			.conversation-body > .conversation-buttons > a > img{
				padding:0px 1px 0px 1px;
			}

/******************************************************************************************************************/
/***********************************          ADDRESS BOOK          ***********************************************/
/******************************************************************************************************************/
			
.address{
	width:100;
	height:100%;
	
}			

	.address-header{
		height:25px;
		width:100%;
		background-color: #456a97;
	}
	
		.address-header > img{
				padding-left:15px;
				margin:0px;
				float:left;
			}
	
		.address-header > h4{
			margin:0px;
			padding-left:10px;
			font-family:Arial;
			line-height: 25px;
			color:#fff;
			letter-spacing: 1px;
			text-shadow: 1px 1px 1px #888;
			display:inline;
			clear:both;
		}
		
		.address-header > a > img{
			float:right;
			margin:5px 15px 0 0;
		}
	
	.address-body{
		background-color:#f2f2f2;
		position:relative;
	}
	
		.contact-filters{
			padding:5px 15px;
		}	
			.contact-filters > img{
				margin-bottom:3px;
			}
		
			.address-filter{
				color:#555;
				letter-spacing:inherit;
				font-weight:bold;
				padding-left: 5px;
				margin-left:8px;
				font-size: 10px;
				line-height: 1;
				height: 23px;
				width:192px;
				background-color:#fff;
				border:1px solid #999;
				border-radius:0px;
				position:relative;
				top:-13px;
				left:4px;
			}
	
			.address-team{
				color:#555;
				letter-spacing:inherit;
				font-weight:bold;
				padding-left: 5px;
				margin-left:12px;
				font-size: 10px;
				line-height: 1;
				height: 23px;
				width:192px;
				background-color:#fff;
				border:1px solid #999;
				border-radius:0px;
				position: relative;
				top:-29px;
				left:49px;
			}
		
		.address-body > .address-list-header{
			padding:0px 15px;
			background-color:#ddd;
			height:25px;
			border-top:1px solid #ccc;
			border-bottom:1px solid #ccc;
		}
		
			.address-body > .address-list-header{
				color:#555;
				line-height: 25px;
			}
			
				.address-body > .address-list-header > span{
					color:#555;
					line-height: 25px;
					float:right;
				}
		
		.address-body > ul{
			position: relative;
			list-style: none;
			margin:0px;
			padding:0px;
			line-height:16pt;
			font-size: 10pt;
			height: 100%;
			max-height: 160px;
			width:100%;
			overflow: auto;
			overflow-x: hidden;
		
		}
		
		.address-body > ul > li{
			padding:2px 0px 2px 16px;
			border-bottom:1px solid #ccc;
		}
		
			.address-body > ul > li:hover{
				background-color:#ddd;
			}
			
				.address-body > ul > li > span{
					float:right;
					padding-right:15px;
				}
				
					.address-body > ul > li > span > div{
						width:8px;
						height:8px;
						background-color:red;
						border-radius:15px;
						display:inline-block;
					}

/******************************************************************************************************************/
/***************************************          FEEDBACK          ***********************************************/
/******************************************************************************************************************/

.feedback{
	
}

	.feedback-header{
		height:25px;
		width:100%;
		background-color: #456a97;
	}
	
		.feedback-header > img{
				padding-left:15px;
				margin:0px;
				float:left;
			}
	
		.feedback-header > h4{
			margin:0px;
			padding-left:10px;
			font-family:Arial;
			line-height: 25px;
			color:#fff;
			letter-spacing: 1px;
			text-shadow: 1px 1px 1px #888;
			display:inline;
			clear:both;
		}
		
		.feedback-header > a > img{
			float:right;
			margin:5px 15px 0 0;
		}

	.feedback-body{
		background-color:#f2f2f2;
		position: relative;
		padding:5px 15px;
		overflow-y: auto;
	}

	#feedback-content{
		min-height:270px;
		width: 100%;
	}

	
		.feedback-body > h4{
			font-size:14px;
		}
		
		.feedback-body > select{
			color:#555;
			letter-spacing:inherit;
			font-weight:bold;
			margin-top:3px;
			margin-bottom:8px;
			font-size: 10px;
			line-height: 1;
			height: 23px;
			width:192px;
			background-color:#fff;
			border:1px solid #999;
			border-radius:0px;
		}
		
		.feedback-body > textarea{
			width:243px;
			height:50px;
		}
		
		
.call-history{
	width:100%;
		
	
}
		
	.history-header{
		height:25px;
		width:100%;
		background-color: #456a97;
	}
	
		.history-header > img{
				padding-left:15px;
				margin:0px;
				float:left;
			}
	
		.history-header > h4{
			margin:0px;
			padding-left:10px;
			font-family:Arial;
			line-height: 25px;
			color:#fff;
			letter-spacing: 1px;
			text-shadow: 1px 1px 1px #888;
			display:inline;
			clear:both;
		}
		
		.history-header > a > img{
			float:right;
			margin:5px 15px 0 0;
		}
		
	.history-body{
		border-bottom:1px solid #ccc;
		background-color: #f2f2f2;
		height: 310px;
		overflow: auto;
		overflow-x:hidden;
	}
	
		.history-body > ul{
			list-style: none;
			margin:0px;
			padding:0px;
			line-height:16pt;
			font-size: 10pt;
		}
		
		.history-body > ul > li{
			padding:2px 0px 2px 16px;
			border-bottom:1px solid #ccc;
		}
		
			.history-body > ul > li:hover{
				background-color:#ddd;
			}
			
				.history-body > ul > li > span{
					float:right;
					padding-right:15px;
				}
		
/******************************************************************************************************************/
/***************************************          BOTTOM          *************************************************/
/******************************************************************************************************************/

.bottom-menu{
	margin-top: 5px;
	width:100%;
	height:25px;
	background-color:#ccc;
	clear:both;
	position:absolute;
	bottom:0px;
	border-top:1px solid #fff;
}

	.bottom-menu > .icon-wrapper{
		margin-left:10px;
	}

		.bottom-menu .icon-wrapper > a > img{
				float:left;
				margin:4px 7px;
			}
			
				.bottom-menu > .icon-wrapper a > img:hover{
					background-color:#ddd;
				}
			
	.bottom-menu > a > img{
		float:right;
		padding:4px 15px 0px 0px;
	}