.tad-right 
{
	position: relative;
	left:2px;
}

.tad-left 
{
	position: relative;
	left:-2px;

}
.tad-up 
{
	position: relative;
	top:-1px;

}

.tad2-up 
{
	position: relative;
	top:-2px;

}

.tad4-up 
{
	position: relative;
	top:-4px;

}

.tad8-up 
{
	position: relative;
	top:-4px;

}

.tad-down 
{
	position: relative;
	top:px;

}

.tad2-down 
{
	position: relative;
	top:2px;

}


.tad4-down 
{
	position: relative;
	top:4px;

}

.tad8-down 
{
	position: relative;
	top:8px;

}


.close  /* Added for a close button to close out sections */
{
	float:right;
	margin-right: 20px;
	margin-top: 5px;
	font-size: small;
	color:white;
	text-decoration:none;
	font-weight: bold;
}

.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radio {
	background: url(radio.png) no-repeat;
}
.select {
	position: absolute;
	width: 90px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 21px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/21px arial,sans-serif;
	/*background: url(select.png) no-repeat right;*/
	overflow: hidden;
}

.timer, #agent-timer {
	font-family:Courier;
}

.full-display {
	height:270px;
}

.lower-display {
	height:160px;
	overflow: auto;
	overflow-x:hidden;
}