<style>
.demo-box {
	position: fixed;
	left:300px;
	top:20px;
	width: 150px;
	min-height:150px;
	border-radius: 5px;
	background: #e7dbc9;
}

.demo-box ul {
	margin:0px auto;
	position: relative;
	width:150px;
	
}

.demo-box ul li a{
	display: block;
	margin:0px auto;
	text-align: center;
	text-decoration: none;
	color:black;
	margin-top:10px;
	position: relative;
	width: 90%;
	background: white;
	border-radius: 5px;
}

.demo-box ul li a:hover {
	background: #ccc;
	}	
</style>




<div class="demo-box">
	<p><center>Demo Box</center></p>
	<ul>
	<li><a id='activate' href="#">Toggle-Agent</a></li>
	<li><a id='call-in' href="#">Queue-Call</a></li>
	<li><a id='call-out' href="#">De-queue Call</a></li>
	</ul>	
</div>	
